{{> head }}
{{> navbar }}

<div class="row">

    <div class="col-8">
        <h1>capitán america</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempore debitis quae sunt provident, eos dolores sint quidem molestias ex odio cumque iusto sit, sed, earum accusamus? Laudantium nihil illum magnam.
        </p>
    </div>
    <div class="col-4">
        <img src="assets/img/Nosotros.png" class="img-thumbnail">
    </div>
</div>

{{> footer}}